
/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
  background: linear-gradient(to bottom right, #e71a1a, #098be2);
  color: white;
  height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.cta-button {
  background-color: white;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hero Section */
.hero {
  padding: 100px 40px;
  max-width: 600px;
}

.hero h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.hero h1 span {
  text-decoration: justify;
}

.hero p {
  margin-top: 20px;
  font-size: 1rem;
  color: #ccc;
}

.services-link {
  display: inline-block;
  margin-top: 20px;
  color: white;
  text-decoration: underline;
}

/* Chat Widget */
.chat-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}


.poto-kegiatan img{
  width: 200px;
}
